# Typ partycji to numer kodowy zgodny z typami partycji wyswietlanymi przez polecenie sgdisk -L
# Obsługiwane typy systemów plików: 
#   ef00 - EFI System
#   8300 - Linux filesystem - domyslnie system plikow xfs
#   8e00 - Linux LVM - brak bezposredniego systemu plikow

partition:
  -
    number: 1
    name: EFI
    type: ef00
    fstype: vfat
    mnt: /boot/efi
    mntopt: "noexec,uid=0,gid=4,dmask=0023,fmask=0133"
    size: 200M
  -
    number: 2
    name: ROOT
    type: 8e00
    fstype: ""
    mnt: ""
    mntopt: ""
    size: 0

volume:
  -
    part: 2
    name: lvroot
    dev: mapper/vgroot-lvroot
    fstype: xfs
    size: 7G
    mnt: /
    mntopt: ""
    raid: raid1

